@import "./fonts.css";

@import "tailwindcss";

@theme {
  --color-orange: #e19637;
  --color-red: #b44427;
  --color-maroon: #5c0f14;
  --color-bg: #e6d2bc;
  --color-text: #1b1e22;
  --color-blue: #a6d5e8;
}

@theme {
  --font-garamond: "Apple Garamond", system-ui, serif;
  --font-plexsans: "IBM Plex Sans", system-ui, sans-serif;
  --font-plexmono: "IBM Plex Mono", system-ui, monospace;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  background: var(--color-bg);
  color: var(--text);
}
