@import "./fonts.css";

@import "tailwindcss";

@theme {
  --color-tan: #c09d74;
  --color-orange: #af5418;
  --color-red: #871e16;
  --color-maroon: #4e080c;
  --color-bg: #f5efe7;
  --color-text: #1b1e22;
  --color-blue: #a6d5e8;
}

@theme {
  --font-gothic: "ITC Serif Gothic", system-ui, serif;
  --font-plexsans: "IBM Plex Sans", system-ui, sans-serif;
  --font-plexmono: "IBM Plex Mono", system-ui, monospace;
}
